<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<<<<<<< HEAD
  <link rel="stylesheet" href="/css/home/login.css">
  <title>Document</title>
</head>
<body>
  <div class="login-page">
    <div class="form">
      <form class="login-form">
        <input id="id" type="text" placeholder="아이디"/>
        <input id="psword" type="password" placeholder="비밀번호"/>
        <p id="button">로그인</p>
        <p class="message">회원가입하기: <a href="register">회원가입</a></p>
      </form>
    </div>
  </div>
=======
  <title>Document</title>
</head>
<body>
  <input id="id" type="text" placeholder="아이디"><br>
  <input id="psword" type="text" placeholder="비밀번호"><br>
  <button>로그인</button>
>>>>>>> 24d92bb9c9b797da5d5f5af662f4aefc53ba3650
</body>
  <script src="/js/home/login.js" defer></script>
</html>